.App {
  text-align: center;
  background-color: rgb(191, 251, 251);
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4829d5;
}

@keyframes pulse {
  20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
  }

  40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
  }

  60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
  }

  80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
  }
}

.pokemon {
  border: solid 2px black;
  margin: 10px;
}
